<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi pagina en EJS</title>
</head>
<body>
    <h1>Como parte del desafio 5, esto fue creado con una plantilla en EJS</h1>
    <h3>Lista de todos los productos:</h3>
    
    <% const productos = obtenerTodos %>
        <ul>
            <%  productos.forEach((item) => { %>
                <li> Id <%= item.id %> </li>
                <li> Title <%= item.title %> </li>
                <li> Price <% item.price %> </li>
                <li> Thumbnail <% item.thumbnail %> </li>
            <%  }); %>
        </ul>
    </form>
    <form action="/" method="get">
        <input type="submit" value="Regresar al formulario">
    </form>

</body>
</html>